<div class="post_field">
  <%= form_with model: @post, local: true do |form| %>
    <%= form.text_area :text, class: "post_text" %>
    <%= form.file_field :image, class: "post_image" %>
    <%= form.submit "投稿", class: "post_btn" %>
  <% end %>
</div>